name: Bun CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run typechecker
        run: bun check

      - name: Run tests
        run: bun test
